* {
    margin: 0;
    padding: 0;
}

body {
    color: #40514E;
    font-family: 'Merriweather', serif;
    text-align: center;
}

h1 {
    padding: 50px 0 20px 0;
    margin: 2.6rem auto 0 auto;
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;  /* dynamically: 16px = 100% = 1em */
    line-height: 2;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border: none;
    border-bottom: 10px dotted grey;
    margin: 100px auto;
    width: 10%;
}

.top-container {
    background-color: #EAF6F6;
    padding-top: 100px;
    position: relative;
}

.bottom-container {
    background-color: #66BFBF;
    height: 100px;
    padding: 50px 0 50px 0;
}

.bottom-container p {
    color: #EAF6F6;
    padding: 20px 0;
}

.bottom-container a {
    padding: 0 25px;
}

.top-cloud {
    position: absolute;
    left: 55%;
    top: 100px;
}

.bottom-cloud {
    position: absolute;
    left: 35%;
    top: 20rem;
}

.profile-img {
    height: 250px;
    border-radius: 90%;
}

.contact-me {
    margin: 50px 0;
    line-height: 2;
}

a.btn {
    display: inline-block;
    margin: 20px 0;
}

.contact-me a,
.footer-link {
    color: #11999E;
    text-decoration: none;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-img {
    float: left;
    margin: 0 30px 0 0;
    width: 25%;
}

.hobby-image {
    float: right;
    margin: 0 0 0 30px;
    width: 25%;
}

.btn {
    background:  #11cdd4;
    background-image: -webkit-linear-gradient(top,  #11cdd4,  #11999e);
    background-image: -moz-linear-gradient(top,  #11cdd4,  #11999e);
    background-image: -ms-linear-gradient(top,  #11cdd4,  #11999e);
    background-image: -o-linear-gradient(top,  #11cdd4,  #11999e);
    background-image: linear-gradient(to bottom,  #11cdd4,  #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }